<div class="container">
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="poster">URL Imagen:</label>
      <input type="text" id="poster" formControlName="poster">
      <div *ngIf="movieForm.get('poster')?.invalid && (movieForm.get('poster')?.dirty || movieForm.get('poster')?.touched)"
           [ngClass]="{'error': movieForm.get('poster')?.errors}">
        <div *ngIf="movieForm.get('poster')?.errors?.['required']">
          La URL de la imagen es requerida.
        </div>
        <div *ngIf="movieForm.get('poster')?.errors?.['pattern']">
          La URL de la imagen no es válida.
        </div>
      </div>
    </div>

    <div>
      <label for="name">Título:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="movieForm.get('name')?.invalid && (movieForm.get('name')?.dirty || movieForm.get('name')?.touched)"
           [ngClass]="{'error': movieForm.get('name')?.errors}">
        <div *ngIf="movieForm.get('name')?.errors?.['required']">
          El título es requerido.
        </div>
        <div *ngIf="movieForm.get('name')?.errors?.['minlength']">
          El título debe tener al menos {{ movieForm.get('name')?.errors?.['minlength'].requiredLength }} caracteres.
        </div>
      </div>
    </div>

    <div>
      <label for="year">Año:</label>
      <input type="number" id="year" formControlName="year">
      <div *ngIf="movieForm.get('year')?.invalid && (movieForm.get('year')?.dirty || movieForm.get('year')?.touched)"
           [ngClass]="{'error': movieForm.get('year')?.errors}">
        <div *ngIf="movieForm.get('year')?.errors?.['required']">
          El año es requerido.
        </div>
        <div *ngIf="movieForm.get('year')?.errors?.['min']">
          El año debe ser igual o mayor a 1900.
        </div>
        <div *ngIf="movieForm.get('year')?.errors?.['max']">
          El año debe ser igual o menor a 2100.
        </div>
      </div>
    </div>

    <div>
      <label for="director">Director:</label>
      <input type="text" id="director" formControlName="director">
      <div *ngIf="movieForm.get('director')?.invalid && (movieForm.get('director')?.dirty || movieForm.get('director')?.touched)"
           [ngClass]="{'error': movieForm.get('director')?.errors}">
        <div *ngIf="movieForm.get('director')?.errors?.['required']">
          El director es requerido.
        </div>
        <div *ngIf="movieForm.get('director')?.errors?.['minlength']">
          El director debe tener al menos {{ movieForm.get('director')?.errors?.['minlength'].requiredLength }} caracteres.
        </div>
      </div>
    </div>
    <button type="submit">Guardar</button>
  </form>
</div>
