<div class="container">
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="imageUrl">URL Imagen:</label>
      <input type="text" id="imageUrl" formControlName="imageUrl">
      <div *ngIf="movieForm.get('imageUrl')?.invalid && (movieForm.get('imageUrl')?.dirty || movieForm.get('imageUrl')?.touched)">
        <div *ngIf="movieForm.get('imageUrl')?.errors?.['required']">
          La URL de la imagen es requerida.
        </div>
        <div *ngIf="movieForm.get('imageUrl')?.errors?.['pattern']">
          La URL de la imagen no es válida.
        </div>
      </div>
    </div>

    <div>
      <label for="title">Título:</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="movieForm.get('title')?.invalid && (movieForm.get('title')?.dirty || movieForm.get('title')?.touched)">
        <div *ngIf="movieForm.get('title')?.errors?.['required']">
          El título es requerido.
        </div>
        <div *ngIf="movieForm.get('title')?.errors?.['minlength']">
          El título debe tener al menos {{ movieForm.get('title')?.errors?.['minlength'].requiredLength }} caracteres.
        </div>
      </div>
    </div>

    <div>
      <label for="year">Año:</label>
      <input type="number" id="year" formControlName="year">
      <div *ngIf="movieForm.get('year')?.invalid && (movieForm.get('year')?.dirty || movieForm.get('year')?.touched)">
        <div *ngIf="movieForm.get('year')?.errors?.['required']">
          El año es requerido.
        </div>
        <div *ngIf="movieForm.get('year')?.errors?.['min']">
          El año debe ser igual o mayor a 1900.
        </div>
        <div *ngIf="movieForm.get('year')?.errors?.['max']">
          El año debe ser igual o menor a 2100.
        </div>
      </div>
    </div>

    <div>
      <label for="director">Director:</label>
      <input type="text" id="director" formControlName="director">
      <div *ngIf="movieForm.get('director')?.invalid && (movieForm.get('director')?.dirty || movieForm.get('director')?.touched)">
        <div *ngIf="movieForm.get('director')?.errors?.['required']">
          El director es requerido.
        </div>
        <div *ngIf="movieForm.get('director')?.errors?.['minlength']">
          El director debe tener al menos {{ movieForm.get('director')?.errors?.['minlength'].requiredLength }} caracteres.
        </div>
      </div>
    </div>
    <button type="submit">Guardar</button>
  </form>
</div>
