* {
  font-family: Arial, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10p;
  font-size: 80px;
}

.center p {
  text-align: center;
}

.little {
  font-size: 11px;
}
