<div class="center">
<header>
  <p><strong>
    <nav>
      <a routerLink="">FILM ARCHIVE</a>
    </nav>
  </strong></p>
</header>
</div>
<app-movies-poster></app-movies-poster>
<footer class="little">
  <a href="https://github.com/famu8" target="_blank">
  <img src="https://img.icons8.com/ios/50/000000/github.png" alt="github" width="40px"></a>
  <a href="https://www.linkedin.com/in/fernandoaugustomarinaurriola//" target="_blank">
  <img src="https://img.icons8.com/ios/50/000000/linkedin.png" alt="linkedin" width="40px"></a>
  <a href="mailto:famu1@gcloud.ua.es">
  <img src="https://img.icons8.com/ios/50/000000/gmail.png" alt="gmail" width="40px"></a>
  <p><i>Fernando A Marina Urriola</i></p>
</footer>
<router-outlet></router-outlet>
